<header>
    <nav>
        <ul>
            <li><a href="/"><picture>
                <source type="image/avif" srcset="./images/Prachtplaat.avif">
                <source type="image/webp" srcset="./images/Prachtplaat.webp">
                <img src="./images/Prachtplaat.png" alt="Selfie van Luc">
            </picture></a></li>
            <li><a href="/">I Love Web!</a></li>
            <li><a href="musictheory">Muziek</a></li>
        </ul>
    </nav>
</header>

