<header>
    <nav>
        <ul>
            {% comment %} <li><a href="/"><img src="./images/Prachtplaat.JPG" alt=""></a></li> {% endcomment %}
            <li><a href="/"><picture>
                <source type="image/avif" srcset="./images/Prachtplaat.avif">
                <source type="image/webp" srcset="./images/Prachtplaat.webp">
                <img src="./images/Prachtplaat.png" alt="Selfie van Luc">
            </picture></a></li>
            <li><a href="/">I Love Web!</a></li>
            <li><a href="musictheory">Muziek</a></li>
        </ul>
    </nav>
</header>

{% comment %}
     <picture>
        <source type="image/avif" srcset="images/grootScherm.avif">
        <source type="image/webp" srcset="images/goat.webp">
        <img src="images/vogel.png" alt="groot" width="500" height="400">
    </picture> -->
 {% endcomment %}