<p>Hier komen de daily checkouts</p>
<p>dit wordt later mooier</p>
{{ files | json }}

<section>
  <h2>Mijn artiekelen</h2>
  {% for file in files %}
    <a href="/dailycheckout/{{ file }}">{{ file|slice:0,-4 }}</a>
    
  {% endfor %}
</section>
