<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout-shift</title>
    {% comment %} <link rel="stylesheet" href="styles/style.css"> {% endcomment %}
</head>
<body>
    <img src="https://picsum.photos/4000" width="200"> 
    {% comment %} De oplossing is natuurlijk een vaste hoogte mee geven... aspect ratio is niet compleet zo {% endcomment %}
    <img src="/images/hahaLeuk.jpeg" width="200">
    <h1>Wil je hier klikken?</h1>
    <button>Ja</button>
    <button>Zeker weten</button>
</body>
</html>