<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="styles/style.css">
  <script type="module" src="scripts/script.js"></script>
  <script src="http://unpkg.com/tone"></script>
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="index.html"><img src="./images/Prachtplaat.JPG" alt=""></a></li>
        <li><a href="index.html">I Love Web!</a></li>
        <li><a href="muziek.html">Muziek</a></li>
      </ul>
    </nav>
  </header>

  <main>

  <h1>Muziek Hoeft Niet Moeilijk te Zijn</h1>

  <p>Muzikanten zeggen tegen elkaar: <em>"Maak je geen zorgen, het is geen raketwetenschap"</em>.</p>
  <p>Raketwetenschappers zeggen tegen elkaar: <em>"Maak je geen zorgen, het is geen muziektheorie".</em></p>
  
  <h2>De Basis van Muziek</h2>
  <p>Muziek bestaat uit slechts <b>12 noten.</b> Zodra je deze allemaal op een rij hebt, vormen ze samen een <b>octaaf</b>. Hierna beginnen de noten simpelweg opnieuw.</p>
  
  <h2>Luister Naar de Noten</h2>
  <p>Hieronder kun je de 12 noten beluisteren. Druk op een knop om de bijbehorende toon te horen:</p>
  <p>Leuke tip: als je de knoppen van links naar rechts in drukt zonder op de '#' knoppen te drukken klink het al een beetje als muziek!</p>
  <p></p>


  <div>
    <button class="note" data-note="c4">C4</button>
    <button class="note" data-note="c#4">C#4</button>
    <button class="note" data-note="d4">D4</button>
    <button class="note" data-note="d#4">D#4</button>
    <button class="note" data-note="e4">E4</button>
    <button class="note" data-note="f4">F4</button>
    <button class="note" data-note="f#4">F#4</button>
    <button class="note" data-note="g4">G4</button>
    <button class="note" data-note="g#4">G#4</button>
    <button class="note" data-note="a4">A4</button>
    <button class="note" data-note="a#4">A#4</button>
    <button class="note" data-note="b4">B4</button>
    <button class="note" data-note="c5">C5</button>

  </div>
  </main>
</body>

</html>