<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="styles/style.css">
  <script type="module" src="scripts/script.js"></script>
  <script src="http://unpkg.com/tone"></script>
</head>

<body>
  {% render 'partials/header.liquid' %}


  <main>

  <h1>Muziek Hoeft Niet Moeilijk te Zijn</h1>

  <p>Muzikanten zeggen tegen elkaar: <em>"Maak je geen zorgen, het is geen raketwetenschap"</em>.</p>
  <p>Raketwetenschappers zeggen tegen elkaar: <em>"Maak je geen zorgen, het is geen muziektheorie".</em></p>
  
  <h2>De Basis van Muziek</h2>
  <p>Muziek bestaat uit slechts <b>12 noten.</b> Zodra je deze allemaal op een rij hebt, vormen ze samen een <b>octaaf</b>. Hierna beginnen de noten simpelweg opnieuw.</p>
  
  <h2>Luister Naar de Noten</h2>
  <p>Hieronder kun je de 12 noten beluisteren. Druk op een knop om de bijbehorende toon te horen:</p>
  <p>Leuke tip: als je de knoppen van links naar rechts in drukt zonder op de '#' knoppen te drukken klink het al een beetje als muziek!</p>

  <section>
    <button class="note" data-note="c4">C4</button>
    <button class="note" data-note="c#4">C#4</button>
    <button class="note" data-note="d4">D4</button>
    <button class="note" data-note="d#4">D#4</button>
    <button class="note" data-note="e4">E4</button>
    <button class="note" data-note="f4">F4</button>
    <button class="note" data-note="f#4">F#4</button>
    <button class="note" data-note="g4">G4</button>
    <button class="note" data-note="g#4">G#4</button>
    <button class="note" data-note="a4">A4</button>
    <button class="note" data-note="a#4">A#4</button>
    <button class="note" data-note="b4">B4</button>
    <button class="note" data-note="c5">C5</button>
  </section>

  <h2>Cool... Maar wie ben jij om dit uit te leggen?</h2>
  <p>Mijn naam is Luc Hoogerwerf. En ik speel nu zo'n 7 jaar gitaar. Nou is gitaar natuurlijk vrij breed. Ik speel elektrische, spaanse en western gitaar. 
    Qua theorie en hoe je het bespeeld is het gelukkig allemaal het zelfde. Ik ben misschien niet de beste en ook geen muziekdocent maar ik kan wellicht de basis overbrengen en 
    ik hoop natuurlijk te laten zien hoe <b>tof</b> muziek wel niet kan zijn! Om een voorbeeld te geven hoe tof muziek nou echt is heb ik hier een paar voorbeelden:
  </p>

  <ul>
    <li>
      <a href="https://www.youtube.com/watch?v=QQlh69IXLM0&list=RDQQlh69IXLM0&start_radio=1">Eddie van Halen</a>
    </li>
    <li>
      <a href="https://www.youtube.com/watch?v=gDR1-JD4Sms&list=RDgDR1-JD4Sms&start_radio=1">B.B King met Eric Clapton</a>
    </li>
    <li>
      <a href="https://www.youtube.com/watch?v=_DfQC5qHhbo&list=RD_DfQC5qHhbo&start_radio=1">John Mayer</a>
    </li>
    <li>
      <a href="https://www.youtube.com/watch?v=8Pa9x9fZBtY&list=RD8Pa9x9fZBtY&start_radio=1">Mark Knopfler van Dire Straits</a>
    </li>
    <li>
      <a href="https://www.youtube.com/watch?v=RtMGoU9NcMo&list=RDRtMGoU9NcMo&start_radio=1">Angus en Malcom Young van ACDC.</a> <p>Onderschat hier alsjeblieft Malcom niet!</p>
    </li>
    <li>
      <a href="https://www.youtube.com/watch?v=h90cfSZ65sg&list=RDh90cfSZ65sg&start_radio=1">Jerry Lee Lewis</a>
    </li>
    <p>En een persoonlijke favoriet op het moment</p>
    <li>
      <a href="https://www.youtube.com/watch?v=CSvmwGWZtSg&list=RDCSvmwGWZtSg&start_radio=1">Randy Rhoades met Ozzy Osbourne</a>
    </li>
  </ul>
  
  <p>Mocht je zelf toffe artiesten weten waar mensen te weinig naar luisteren voel je dan vrij om mij (@luchoogerwerf) op instagram een berichtje te sturen.</p>

  <h2>Ga je nog iets uitleggen?</h2>
  <p>Genoeg over mijzelf. Laten we het over muziek hebben.</p>
  </main>
</body>

</html>